@import "tailwindcss" source(none);

@source "../../index.php";
@source "../../layout.php";
@source "../../assets/js";
@source "../../includes";
@source "../../views";

@theme {
  --font-sans: "Inter", "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fragment Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.container {
  @apply mx-auto max-w-6xl;
}

.flex-split {
  @apply flex items-center justify-between;
}

.button {
  @apply px-8 py-4 flex items-center justify-between leading-6 rounded-full;
  font-weight: 500;
}
